@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Поиск</h1>
    <p class="lead">Система, позволяющая хранить документы и осуществлять поиск.</p>
    <p><a href="../Documents/Index" class="btn btn-primary btn-lg">Приступить &raquo;</a></p>
</div>
